doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
  body
    #container
      block content
